@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Source+Sans+3:wght@450&display=swap');


/* ----------------------------------------------------------- */
/*** Generral Styling Of Website ***/
* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Source Sans 3', sans-serif;
    font-weight: 450;
    font-size: 2.5vh;
    background-color: #e4e4e4;
    background-image: linear-gradient(to bottom left, #77b4fc, #274799);
}


/* ----------------------------------------------------------- */
/*** Headings ***/
h1,
h2,
h3 {
    font-family: 'Libre Baskerville', serif;
    letter-spacing: 1px;
}


/* ----------------------------------------------------------- */
/*** Hero Image And Page Title ***/
header {
    /* fixate header at top of the page */
    /* position: sticky;
    top: 0; */
    
    margin-bottom: 10vh;
}

#hero-image {
    height: 26vh;
    width: 100%;
    background: no-repeat center center url("../images/hero-image.png");
    background-color: #3c28ea;
    background-size: cover;
    text-align: center;
}

#page-title {
    color: #e4e4e4;
    font-size: 5vh;
    padding-top: 2vh;
}

#page-subtitle {
    color: #e4e4e4;
    font-size: 3vh;
}


/* ----------------------------------------------------------- */
/*** Navigation Bar ***/
#nav-bar {
    list-style-type: none;
    text-align: center;
    padding-top: 0;
}

#nav-bar li {
    display: inline-block;
    font-family: 'Libre Baskerville', serif;
    font-size: 2vh;
    background-color: #e4e4e4;
    width: 12vh;    
    /* margin-top: 1.75vh; */
    margin: 3vh 0.5vw 0 0.5vw;
    border-radius: 0.75vw;
    padding-bottom: 0.75vh;
    padding-top: 0.75vh;
}

#nav-bar a {
    text-decoration: none;
    color: black;
}

#nav-bar a.active {
    border-bottom: 2px solid black;
}


/* ----------------------------------------------------------- */
/*** Main Section ***/
.page-heading {
    margin-left: 5vw;
    margin-bottom: 10vh;
    font-size: 3.5vh;
}

.page-message {
    width: 70%;
    margin: 0 auto 10vh auto;
    text-align: justify;
}

#video-resin-art {
    width: 70%;

    display: block;
    margin: auto;
}

#about-me {
    margin-bottom: 10vh;
}

/* ----------------------------------------------------------- */
/*** Gallery Sections ***/
.images-collage img {
    width: 100%;
}

.images-collage {
    column-count: 2;
    column-gap: 0.5vw;
    padding: 0.5vw;
    padding-bottom: 0;
}

.gallery-section {
    width: 80%;
    margin: 0 auto 10vh auto;
    border: 2px solid #292a2c;
}

.gallery-section p {
    /* padding: 0.5vh auto 0.5vh 2vw; */
    padding-left: 2vw;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    border: 1px solid #616365;
    background-color: rgba(11, 11, 219, 0.429);
    font-family: 'Libre Baskerville', serif;
}


/* ----------------------------------------------------------- */
/*** Contact Form Section ***/
form {
    width: 70vw;
    padding: 3vw;
    background-color: rgba(60, 60, 60, 0.4);
    margin: auto;
    color: #e4e4e4;
    border-radius: 0.75vw;
    margin-bottom: 10vh;
}

form .form-heading {
    margin-bottom: 2vh;
}

.input-box {
    width: 100%;
    margin-bottom: 2vh;
    font-size: 2.5vh;
    background-color: #e4e4e4;
}

.submit-button {
    padding: 1vw;
    display: block;
    margin: auto;
}



/* styling a select box with place holder, source: https://stackoverflow.com/a/29806043 */
form select:required:invalid {
    color: grey;
}

form option {
    color: black;
}


/* ----------------------------------------------------------- */
/*** Static Address Section ***/
#address {
    max-width: 50vw;
    padding: 3vw;
    background-color: rgba(60, 60, 60, 0.4);
    margin: auto;
    color: #e4e4e4;
    border-radius: 0.75vw;
    margin-bottom: 10vh;
}

/* .address-content {
    position: relative;
    left: 10%;
} */

/* #address .heading {
    display: inline-block;
    clear: right;
} */

#address p {
    padding-bottom: 2vh;
    /* display: inline-block;
    clear: left; */
}



/* ----------------------------------------------------------- */
/*** Footer ***/
footer {
    width: 100%;
    text-align: center;
    padding: 1vh;
    background: #274799;
}

footer i {
    margin: 0.5vw;
    font-size: 5vh;
    color: #e4e4e4;
}

footer .separator {
    display: inline-block;
    width: 3vh;
}


/* ----------------------------------------------------------- */
/*** Responsive Design ***/
@media screen and (min-width: 800px) {
    .page-message {
        width: 60%;
    }
    
    #video-resin-art {
        width: 60%;
    }

    .images-collage {
        column-count: 3;
    }

    form {
        width: 60vw;
        padding: 2vw;
    }

    #address {
        max-width: 40vw;
        padding: 2vw;
    }
}


@media screen and (min-width: 950px) {
    .page-message {
        width: 50%;
    }
    
    #video-resin-art {
        width: 50%;
    }

    .images-collage {
        column-count: 4;
    }

    form {
        width: 50%;
    }
}