@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Source+Sans+3:wght@450&display=swap');


/*** Generral Styling Of Website ***/
* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Source Sans 3', sans-serif;
    font-weight: 450;

    background-color: #e4e4e4;
}


/*** Headings ***/
h1,
h2,
h3 {
    font-family: 'Libre Baskerville', serif;
    letter-spacing: 1px;
}


/*** Hero Image And Page Title ***/
header {
    /* fixate header at top of the page */
    /* position: sticky;
    top: 0; */
    
    margin-bottom: 10vh;
}

#hero-image {
    height: 25vh;
    width: 100%;
    background: no-repeat center center url("/assets/images/hero-image.png");
    background-color: #3c28ea;
    background-size: cover;
    text-align: center;
}

#page-title {
    color: #e4e4e4;
    font-size: 5.5vh;
    padding-top: 2vh;
}

#page-subtitle {
    color: #e4e4e4;
    font-size: 3.5vh;
}


/*** Navigation Bar ***/
#nav-bar {
    list-style-type: none;
    text-align: center;
    padding-top: 0;
}

#nav-bar li {
    display: inline-block;
    font-size: 2.5vh;
    background-color: #bed0ff;
    width: 12vh;    
    margin-top: 1.5vh;
}


/*** Main Section ***/
.page-heading {
    margin-left: 5vw;
    margin-bottom: 10vh;
}

.page-message {
    width: 50%;
    margin: 0 auto 10vh auto;
    text-align: center;
}

#video-resin-art {
    width: 50%;

    display: block;
    margin: auto;
}


/*** Gallery Sections ***/
.images-collage img {
    width: 100%;
}

.images-collage {
    column-count: 2;
}


/*** Footer ***/
footer {
    width: 100%;
    height: 3vh;
    text-align: center;
    padding: 1vh;
    background: #274799;
    margin-top: 5vh;
}


/*** Responsive Design ***/
@media screen and (min-width: 800px) {
    .images-collage {
        column-count: 3;
    }
}


@media screen and (min-width: 950px) {
    .images-collage {
        column-count: 4;
    }
}