@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Source+Sans+3:wght@450&display=swap');


/*** Generral Styling Of Website ***/
* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Source Sans 3', sans-serif;
    font-weight: 450;

    background-color: #e4e4e4;
}


/*** Headings ***/
h1,
h2,
h3 {
    font-family: 'Libre Baskerville', serif;
    letter-spacing: 1px;
}


/*** Hero Image And Page Title ***/
header {
    /* fixate header at top of the page */
    /* position: sticky;
    top: 0; */
    
    margin-bottom: 10vh;
}

#hero-image {
    height: 25vh;
    width: 100%;
    background: no-repeat center center url("/assets/images/hero-image.png");
    background-color: #3c28ea;
    background-size: cover;

    text-align: center;
}

#page-title {
    color: #e4e4e4;
    font-size: 5.5vh;
    padding-top: 2vh;
}

#page-subtitle {
    color: #e4e4e4;
    font-size: 3.5vh;
    /* padding-top: 1vh; */
}


/*** Navigation Bar ***/
#nav-bar {
    list-style-type: none;
    text-align: center;
    padding-top: 0;
    /* padding-bottom: 2vh; */
    /* background-color: #cbe5ff; */
}

#nav-bar li {
    display: inline-block;
    font-size: 2.5vh;
    background-color: #bed0ff;
    width: 12vh;    
    margin-top: 1.5vh;
}